@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    &:before,&:after{
        -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
    }
}

body{
    font-family: "Microsoft YaHei","Arial","Helvetica Neue","Hiragino Sans GB","Simsun,sans-self";
    font-size: 0.28rem;
    word-break:break-all;
}
p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.1;
}
table,
td{
    border-collapse: collapse;
    border: none;
}

a,input,textarea,select{
    font-family: "Microsoft YaHei";
    outline: none;
}

textarea{
    resize: none;
}

img,button{
    border: none;
}

button{
    font-family: "Microsoft YaHei";
    cursor: pointer;
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,small{
    font-size: 100%;
}
a,
a:link,
a:visited,
a:focus{
    text-decoration: none;
}
*:focus { outline: none!important;}
.left{
    float: left;
}

.right{
    float: right;
}
.clear:before,
.clear:after {
    display: table;
    content: " ";
}
.clear:after {
    clear: both;
}
.clear{
    *zoom: 1;
}

/*字体*/
.YaHei{
    font-family: "Microsoft YaHei";
}


// 公用start
.jkFlex{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.jkFlexItem{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.oneLine{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.tl{
    text-align: left;
}
.tr{
    text-align: right !important;
}
.tag-parent{
    // display: grid;
    // grid-template-columns:repeat(4,1fr);
    // grid-gap:0.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: -0.15rem !important;
}
.jk-tag-2{
    flex: 50%;
    max-width: 50%;
    display: inline-block;
}
.jk-tag-4{
    flex: 25%;
    max-width: 25%;
    display: inline-block;
}
.jk-ca-tag{
    cursor: pointer;
    margin: 0 0 0.15rem 0.15rem;
    height: 0.58rem;
    line-height: 0.58rem;
    border-radius: 0.05rem;
    background: rgb(248,248,248);
    color: rgb(30, 30, 30);
    font-size: 0.28rem;
    min-width: 1.28rem;
    text-align: center;
    padding: 0 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.jk-tag-Link{
    display: inline-block;
    width: 1.1rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.05rem;
    color: rgb(44, 106, 219);
    border: 1px solid rgb(44, 106, 219);
    text-align: center;
    font-size: 0.2rem;
    position: relative;
    z-index: 24;
    margin-right: 0.2rem;
}
.tag-hover{
    background: rgba(94,144,243,0.5);
    color: rgb(44,106,219);
}

.overEllipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.jkClear{
    clear: both;
}
.houseLink{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 22;
}

.jk-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 1.4rem;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 0 0.3rem;
    z-index: 50;
    box-shadow: 0px -0.5rem 0.5rem rgba(248,248,248,0.6);
}
.jk-oneBtn-bottom{
    margin-top: 0.23rem;
    width: 100%;
    height: 0.96rem;
    font-size: 0.28rem;
    color: rgb(255, 255, 255);
    border-radius: 0.15rem;
    display: inline-block;
    text-align: center;
    line-height: 0.96rem;
    background:linear-gradient(to right, rgb(94,144,243),  rgb(44, 106, 219)); 
}
.jkBottomFlex2{
    height: 100%;
    background: rgb(255, 255, 255);
    .jkFlexItem{
        height: 100%;
        &:first-child{
            border-right: 1px solid rgb(215,213,213);
        }
    }
    .jkBottomBtn2{
        margin-top: 0.23rem;
        width: 100%;
        height: 0.96rem;
        line-height: 0.96rem;
        display: inline-block;
        text-align: center;
        font-size: 0.34rem;
        color: rgb(85, 85, 85);
        background: none;
    }
    .jkShareWechat{
        img{
            margin: 0.15rem 0 0.1rem 0;
            max-height: 0.58rem;
        }
    }
    .jkShareWechatTit{
        font-size: 0.28rem;
        color: rgb(51,51,51);
    }
}


.jk-supplement{
    height: 2.5rem;
    position: relative;
    textarea{
        width: 100%;
        height: 100%;
        padding: 0.2rem;
        text-indent: 2em;
        border: 1px solid rgb(229,229,229);
        border-radius: 0.05rem;
        font-size: 0.24rem;
        line-height: 0.4rem;
        color: rgb(153, 153, 153);
    }
    .jk-swordNum{
        position: absolute;
        right: 0.2rem;
        bottom: 0.2rem;
        font-size: 0.24rem;
        color: rgb(153, 153, 153);
        .origin{
            color: rgb(228,46,0);
        }
    }
}
// 公用end


/*首页  start*/
.jk-scrollerWrap{
    position:absolute;
    width:100%;
    top:4.1rem;//一般页面有header的时候需要留出header的高度
    bottom:1.15rem;
    z-index: 0;
}
.jk-wap{
    padding: 0 0.15rem 1.15rem 0.15rem;
    height: 100%;
    //吸顶条
    .fixed-top {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
    .jk-search{
        margin: 0.1rem 0 0 0;
        width: 100%;
        height: 0.9rem;
        border:none;
        .jk-search-address{
            height: 100%;
            line-height: 0.9rem;
            flex-direction: column;
            font-size: 0.28rem;
            padding: 0 0.35rem 0 0.3rem;
            position: relative;
            background: rgb(248, 248,248);
            border-top-left-radius: 0.45rem;
            border-bottom-left-radius: 0.45rem; 
            color: rgb(51,51,51);
            font-size: 0.28rem;
            &:after{
                content: "";
                position:absolute;
                height: 0.28rem;
                width: 1px;
                border-right: 1px solid rgb(219,219,219);
                right: 0;
                top: 50%;
                margin-top: -0.14rem;
            }
            
        }
        .jk-search-text{
            flex-direction: column;
            background: rgb(248, 248,248);
            height: 100%;
            text-align: left;
            border: none;
            border-top-right-radius: 0.45rem;
            border-bottom-right-radius: 0.45rem;
            padding-left: 0.3rem;
            color: rgb(200,200,200);
            font-size: 0.28rem;
        }
    }
    
    // menu
    .jk-menu{
        z-index: 9999;
        border-bottom:2px solid rgb(214,214,214);
        .jk-menu-item{
            padding: 0.38rem 0 0.4rem 0;
            img{
                width: 0.98rem;
            }
            p{
                font-size: 0.24rem;
                margin-top:0.05rem;
                color: rgb(0,0,0);
            }
        }
    }


    // 内容
    .jk-banner{
        background: #999999;
        height: 1.5rem;
        text-align: center;
        margin: 0.3rem 0;
        img{
            height: 1.5rem;
        }
    }
    .jk-cont{
        
        .jk-cont-Like{
            .userLike{
                position: absolute;
                right: 0.15rem;
                bottom: 0.3rem;
                width: 0.4rem;
                height: 0.4rem;
                background: url("../assets/icon-like.png") no-repeat;
                background-size: 0.4rem 0.36rem;
                display: inline-block;
                z-index: 23;
            }
            .userLikeHover{
                position: absolute;
                right: 0.15rem;
                bottom: 0.3rem;
                width: 0.4rem;
                height: 0.4rem;
                background: url("../assets/icon-like-hover.png") no-repeat;
                background-size: 0.4rem 0.36rem;
                display: inline-block;
                z-index: 23;
            }
            .jk-cont-item-main{
                padding-right: 0.55rem;
            }
        }
        .jk-cont-item{
            padding: 0.3rem 0;
            border-bottom: 0.03rem solid rgb(229,229,229);
            position: relative;
            .jk-cont-item-media{
                width: 2.4rem;
                display: table-cell;
                vertical-align: middle;
                img{
                    width: 2.4rem;
                }
            }
            .jk-cont-item-main{
                text-align: left;
                padding-left: 0.22rem;
                .jk-cont-item-tit{
                    font-size: 0.28rem;
                    color: rgb(0,0,0);
                    height: 0.5rem;
                    line-height: 0.5rem;
                }
                .jk-cont-item-price{
                    font-size: 0.28rem;
                    color: rgb(228,80,0);
                    height: 0.5rem;
                    line-height: 0.5rem;
                }
                .jk-cont-item-desc{
                    font-size: 0.26rem;
                    color: rgb(136,136,136);
                    height: 0.4rem;
                    line-height: 0.4rem;
                }
                .jk-cont-item-tag{
                    font-size: 0.26rem;
                    color: rgb(136,136,136);
                    height: 0.4rem;
                    line-height: 0.4rem;
                    .address{
                        background: url("../assets/icon-address.png") no-repeat;
                        background-size: 0.16rem 0.23rem;
                    }
                }
            }
        }
    }

   
}
 // 底部导航
.jk-nav{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 1.15rem;
    background: rgb(255, 255, 255);
    z-index: 101;
    box-shadow: 0px -0.5rem 0.5rem rgba(248,248,248,0.6);
    .jk-nav-item{
        position: relative;
        z-index:100;
        .nav-link{
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
        }
        .jk-nav-item-icon{
            height: 0.75rem;
        }
        p{
            font-size: 0.24rem;
            color: rgb(153, 153, 153);
        }
        .nav-icon01{
            background: url("../assets/icon-index.png") no-repeat center;
            background-size: 0.48rem 0.42rem;
        }
        .nav-icon02{
            background: url("../assets/icon-publish.png") no-repeat center;
            background-size: 0.49rem 0.37rem;
        }
        .nav-icon03{
            background: url("../assets/icon-mine.png") no-repeat center;
            background-size: 0.36rem 0.43rem;
        }
    }
    .nav-hover{
        .nav-icon01{
            background: url("../assets/icon-index-hover.png") no-repeat center;
            background-size: 0.48rem 0.42rem;
        }
        .nav-icon02{
            background: url("../assets/icon-publish-hover.png") no-repeat center;
            background-size: 0.49rem 0.37rem;
        }
        .nav-icon03{
            background: url("../assets/icon-mine-hover.png") no-repeat center;
            background-size: 0.36rem 0.43rem;
        }
        p{
            color: rgb(44,106,220);
        }
    }
}
/*首页  end*/


/*切换城市  start*/
.jk-wap{
    .jk-ca-search{
        width: 100%;
        height: 0.9rem;
        margin: 0.2rem 0 0.64rem 0;
        input{
            width: 100%;
            height: 100%;
            border-radius: 0.45rem;
            background: rgb(248, 248,248);
            padding: 0 0.3rem;
            border:none;
        }
    }
    .jk-ca-tit{
        font-size: 0.26rem;
        color: rgb(30, 30, 30);
        margin: 0 0 0.2rem 0;
    }
    .jk-ca-position{
        margin: 0 0 0.54rem 0;
    }
    .jk-ca-hot{
        padding-right: 0.3rem;
        margin-bottom: 0.95rem;
        .jk-ca-hot-con{
            flex-wrap: wrap;
        }
    }

    .jk-str{
        font-size: 0.26rem;
        color: rgb(136,136,136);
    }
    .jk-str-con{
        margin: 0 0 0.16rem 0;
        ul{
            li{
                height: 1.1rem;
                line-height: 1.1rem;
                font-size: 0.28rem;
                color: rgb(30, 30, 30);
                border-bottom: 1px solid rgb(244,244,244)
            }
        }
    }

    //右侧字母list
    .jk-str-list{
        position: fixed;
        top: 1.4rem;
        height: 100%;
        right: 0;
        width: 0.4rem;
        text-align: center;
        ul{
            width: 0.4rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            li{
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                text-align: center;
                color: rgb(153, 153, 153);
                font-size: 0.18rem;
                margin: 0.02rem 0;
                .str-index{
                    display: inline-block;
                    height: 0.4rem;
                    line-height: 0.4rem;
                    width: 0.4rem;
                    background: rgb(242,242,242);
                    border-radius: 50%;
                }
                a{
                    color: rgb(153, 153, 153);
                    font-size: 0.18rem;
                    font-family: ArialMt;
                }
            }
        }
    }
    
}
/*切换城市  end*/


/*搜索  start */
.jk-wap{
    .jk-searchbox{
        margin: 0.2rem 0 0.3rem 0;
        position: relative;
        input{
            width: 100%;
            height: 0.85rem;
            border: 1px solid rgb(241,241,241);
            border-radius: 0.45rem;
            box-shadow: 0px 0px 0.05rem 0.05rem rgba(241,241,241,0.2);
            color: rgb(30, 30, 30);
            font-weight: bold;
            font-size: 0.3rem;
            padding: 0 0.7rem 0 0.3rem;
        }
        .jk-search-clear{
            position: absolute;
            right: 0.3rem;
            top: 50%;
            width: 0.3rem;
            height: 0.3rem;
            margin-top: -0.15rem;
            background: pink;
            display: inline-block;
            background: url("../assets/icon-clear.png") no-repeat;
            background-size: 0.3rem;
        }
    }

    // 搜索历史
    .jk-searchList{
        ul{
            li{
                height: 0.95rem;
                line-height: 0.95rem;
                border-bottom: 1px solid rgb(219,219,219);
                .jk-search-tit{
                    text-align: left;
                    font-size: 0.28rem;
                    color: rgb(30, 30, 30);
                }
                .gray{
                    color: rgb(153, 153, 153);
                }
                .jk-search-desc{
                    font-size: 0.26rem;
                    color: rgb(153, 153, 153);
                }
            }
        }
    }
}
/*搜索  end */

/*筛选弹层 start*/
// 筛选nav
.jk-screen{
    /*滚过初始位置时自动吸顶*/
    position: -webkit-sticky;
    position: sticky;
    /*吸顶时的定位*/
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: 100;
    /*z比下方所有z高*/
    .jk-screen-menu{
        border-bottom:2px solid rgb(214,214,214);
        height: 0.9rem;
        .jk-screen-menu-item {
            text-align: left;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            &:last-child{
                //-webkit-box-flex: none;
                -webkit-flex: none;
                flex: none;
            }
            p.jkScreenNav{
                line-height: 0.9rem;
                font-size: 0.24rem;
                color: rgb(51,51,51);
                height: 100%;
                display: flex;
                justify-content: left;
                display: inline-block;
                img{
                    width: 0.2rem;
                    height: 0.22rem;
                    margin: 0.34rem 0.25rem 0 0;
                }
                span{
                    line-height: 0.9rem;
                    height: 100%;
                    display: inline-block;
                }
                .screen-menu-width{
                    display: inline-block;
                    max-width: 5em;
                    min-width: 3em;
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 0.2rem;
                        height: 98%;
                        background: url("../assets/icon-down.png") rgb(255, 255, 255) no-repeat center;
                        background-size: 0.1rem 0.07rem;
                    }
                }
            }
            .sort-icon{
                background: url("../assets/icon-sort.png") no-repeat center;
                background-size: 0.2rem 0.22rem;
                width: 0.62rem;
                padding: 0 0.2rem;
                height: 100%;
                display: inline-block;
            }
        }
        .screen-menu-hover{
            p.jkScreenNav{
                color: rgb(44,106,219);  
                .screen-menu-width{
                    &::before{
                        background: url("../assets/icon-down-blue.png") rgb(255, 255, 255) no-repeat center;
                        background-size: 0.1rem 0.07rem;
                    }
                }
            }
            .sort-icon{
                background: url("../assets/icon-sort-hover.png") no-repeat center;
                background-size: 0.2rem 0.22rem;
                width: 0.62rem;
                padding: 0 0.2rem;
                height: 100%;
                display: inline-block;
            }
        }
    }
}

.jkScreen{
    #screenArea{
        overflow: auto;
    }
    position: fixed;
    height: 100%;
    width: 100%;
    background:rgb(255, 255, 255);
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    padding: 0 0.15rem 0 0.15rem;
    z-index: 200;
    overflow:auto;
    form{
        height: 100%;
    }
    .jkScreenItem{
        display: none;
        height: 100%;
        form{
            height: 100%;
        }

        // 户型、筛选
        .jkscreenHouseType,.jkscreenScreen{
            padding-bottom: 1.5rem;
            .jk-screenScreen-tit,
            .jk-houseType-tit{
                font-size: 0.28rem;
                color: rgb(102,102,102);
                text-align: center;
                margin: 0.8rem 0 0.4rem 0;
            }
            
            .jk-screenScreen-con,
            .jk-houseType-con{
                
                .jk-ca-tag{
                    color: rgb(102,102,102);
                }
                .tag-hover{
                    color: rgb(44,106,219);
                }
            }
            
        }
    }
    .jk-screen-form{
        height: 100%;
    }
    .jk-screen-box{
        height: 100%;
        .jk-screen-cont{
            height: 100%;
            .jk-screen-ui{
                padding-bottom: 1.5rem;
                li{
                    button{
                        font-size: 0.28rem;
                        color: rgb(102,102,102);
                        border: none;
                    }
                    font-size: 0.28rem;
                    color: rgb(102,102,102);
                    padding: 0.32rem 0;
                    &.shover{
                        color: rgb(44,106,219);
                        a,button{
                            color: rgb(44,106,219);
                        }
                    }
                    a,button{
                        color: rgb(102,102,102);
                        background: none;
                    }
                }
            }
        }
        .screenBg{
            ul{
                background: rgb(250,250,250);
            }
            background: rgb(250,250,250);
        }
        .screenBg1{
            background: rgb(247,247,247);
            ul{
                background: rgb(247,247,247);
            }
        }
    }
    .jk-screen-btn{
        width: 100%;
        height: 1.45rem;
        background: rgb(255, 255, 255);
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 0.15rem;
        .blue-btn{
            margin: 0.25rem 0;
            width: 100%;
            height: 0.95rem;
            line-height: 0.96rem;
            color: rgb(255, 255, 255);
            font-size: 0.28rem;
            border-radius: 0.1rem;
            background: rgb(44,106,219);
        }
    }
}
/*筛选弹层 end*/


/*房源信息  start*/
.jk-house-banner{
    margin: 0 auto;
    max-height: 5.62rem;
    position: relative;
    max-width: 100%;
    width: 100%;
    .swiper-wrapper{
        max-width: 100%;
    }
    img{
        width: 100%;
        max-height: 5.62rem;
    }
    .swiper-pagination-top{
        padding: 0 0.3rem;
        position: absolute;
        bottom:0;
        height: 0.4rem;
        line-height: 0.4rem;
        width: 100%;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 20;
        font-size: 0.24rem;
        color: rgb(255, 255, 255);
        text-align: right;
    }
}
.jk-house{
    padding: 0 0.36rem 1.4rem 0.36rem;
    .jk-house-name{
        font-size: 0.46rem;
        color: rgb(51,51,51);
        margin: 0.6rem 0 0 0;
    }
    .jk-house-price{
        font-size: 0.46rem;
        color: rgb(228,46,0);
        margin: 0.43rem 0 0;
    }
    .jk-house-tagbox{
        margin: 0.25rem 0 0 0;
        .jk-ca-tag{
            background: rgb(255, 255, 255);
            border: 2px solid rgb(246,246,246);
            font-size: 0.22rem;
            color: rgb(119,119,119);
        }
    }
    .jk-house-desc{
        margin: 0.85rem 0 0 0;
        border-bottom: 1px solid rgb(223,223,223);
        padding-bottom: 0.4rem;
        .jkFlexItem{
            font-size: 0.26rem;
            color: rgb(51,51,51);
            position: relative;
            &:before{
                content: "|";
                position: absolute;
                right: 0;
                top: 0;
                font-size: 0.26px;
                color: rgb(223,223,223);
            }
            &:last-child{
                &::before{
                    display: none;
                }
            }
        }
    }
    .jk-house-desc1{
        padding: 0.5rem 0;
        .houseinfo{
            clear: both;
            .houseinfoitem{
                width: 50%;
                float: left;
                span{
                    display: inline-block;
                    float: left;
                }
                .desclabel{
                    color: rgb(153, 153, 153);
                    width: 2.2em;
                    margin: 0 0.2rem 0 0;
                    overflow: hidden;
                    font-size: 0.26rem;
                    line-height: 0.52rem;
                }
                .desccon{
                    font-size: 0.26rem;
                    line-height: 0.52rem;
                    color: rgb(51,51,51);
                }
            }
        }
    }
    
    .jk-house-tit{
        clear: both;
        font-size: 0.4rem;
        color: rgb(51,51,51);
    }

    .jk-house-configTag{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding: 0.5rem 0 0.2rem 0;
        .jk-house-config-tag-item{
            flex: 16.66%;
            max-width: 16.66%;
            .jk-house-conimg{
                max-height: 0.5rem;
                text-align: center;
                height: 0.5rem;
                img{
                    max-width: 0.5rem;
                    max-height: 0.5rem;
                }
            }
            .jk-house-conTit{
                padding: 0.26rem 0 0.4rem 0;
                font-size: 0.22rem;
                color: rgb(51,51,51);
                text-align: center;
            }
        }
    }

    //地图
    .jk-house-map{
        height: 2.16rem;
        margin: 0.5rem 0 0.3rem 0;
        img{
            max-height: 2.16rem;
        }
    }   
    .jk-house-mapgood{
        ul{
            margin-bottom: 0.55rem;
            li{
                font-size: 0.2rem;
                color: rgb(51,51,51);
                padding: 0 0 0.15rem 0.25rem;
                position: relative;
                &:before{
                    content: '';
                    height: 3px;
                    width: 3px;
                    background: rgb(51,51,51);
                    border-radius: 50%;
                    position: absolute;
                    left: 0.12rem;
                    top: 0.12rem;
                }
            }
        }
    }

    //房源推荐
    .jk-recommend{
        margin: 0.5rem 0 0 0;
        max-width: 100%;
        .jk-recommend-item{
            max-width: 3.24rem;
            margin-right: 20px;
            position: relative;
            float: left;
            .jk-recommend-img{
                img{
                    max-width: 3.24rem;
                    max-height: 2.44rem;
                }
            }
            .jk-recommend-con{
                .jk-recommend-conTit{
                    font-size: 0.3rem;
                    color: rgb(110, 101, 101);
                    margin-bottom: 0.15rem;
                }
                .jk-recommend-conDesc{
                    font-size: 0.26rem;
                    color: rgb(51,51,51);
                    margin-bottom: 0.15rem;
                }
                .jk-recommend-conPrice{
                    font-size: 0.26rem;
                    color: rgb(228,80,0);
                    margin-bottom: 0.15rem;
                }
                .jk-recommend-tag{
                    .jk-ca-tag{
                        height: 0.5rem;
                        line-height: 0.5rem;
                        font-size: 0.24rem;
                        color: rgb(119, 119, 119);
                    }
                }
            }
        }
    }

    // 玖快租房
    .jk-icon{
        clear: both;
        margin-bottom: 0.75rem;
        .jk-icon-jk{
            font-size: 0.3rem;
            color: rgb(153, 153, 153);
            text-align: center;
            line-height: 0.3rem;
            padding: 1rem 0 0.26rem 0;
            img{
                height: 0.3rem;
                display: inline-block;
            }
        }
        .jk-icon-desc{
            font-size: 0.24rem;
            color: rgb(153, 153, 153);
            text-align: center;
        }
    }
    //分享、预约、打电话
    .jk-share{
        .jk-share-left{
            width: 40%;
            float: left;
            .jk-shareleftitem{
                position: relative;
                max-width: 0.9rem;
                .jk-like{
                    background: url("../assets/icon-like.png") no-repeat center;
                    background-size: 0.4rem 0.36rem;
                }
                .jklikehover{
                    background: url("../assets/icon-like-hover.png") no-repeat center;
                    background-size: 0.4rem 0.36rem;
                }
                .jk-shareleftitemimg{
                    height: 0.9rem;
                    padding-top: 0.33rem;
                    img{
                        max-width: 0.4rem;
                        max-height: 0.38rem;
                    }
                }
                .jk-shareleftitemTit{
                    height: 0.4rem;
                    line-height: 0.4rem;
                    font-size: 0.22rem;
                    color: rgb(51,51,51);
                }
            }
        }
        .jk-share-right{
            width: 60%;
            padding-right: 0.36rem;
            float: left;
            display: flex;
            flex-direction: row-reverse;
            .jk-sharerightitem{
                margin-top: 0.24rem;
                margin-left: 0.18rem;
                flex:2.2rem;
                max-width: 2.2rem;
                height: 0.98rem;
                line-height: 0.98rem;
            }
            button,a{
                display: inline-block;
                text-align: center;
                border-radius: 0.05rem;
                width: 100%;
                height: 100%;
                color: rgb(255, 255, 255);
                font-size: 0.26rem;
                &.jk-call{
                    background:linear-gradient(to right, rgb(94,144,243),  rgb(44, 106, 219)); 
                }
                &.jk-look{
                    background:linear-gradient(to right, rgb(66, 199, 149), rgb(48, 187,127));
                }
            }
        }
    }
    #callBottom,#weCharBottom{
        display: none;
    }
}
/*房源信息  end*/

/* 约看信息 start*/
.jk-lookbox{
    .jk-lookcon{
        margin-top: 0.3rem;
        padding:0 0.3rem;
        display: flex;
        .jk-lookconImg{
            width: 3.24rem;
            height: 2.44rem;
            img{
                max-width: 3.24rem;
            }
        }
        .jk-lookDesc{
            flex: 1;
            margin-left: 0.4rem;
            .jkFlex{
                height: 2.44rem;
                align-items: center;
                justify-content:center;
                flex-direction: column;
                text-align: left;
                p{
                    width: 100%;
                }
            }
            .tit{
                font-size: 0.4rem;
                color: rgb(0,0,0);
            }
            .price{
                font-size: 0.32rem;
                color: rgb(228,80,0);
                padding: 0.3rem 0;
            }
            .info{
                font-size: 0.28rem;
                color: rgb(182,182,182);
                span{
                    position: relative;
                    display: inline-block;
                    padding-right: 0.2rem;
                    padding-left: 0.05rem;
                    &:before{
                        content: '|';
                        position: absolute;
                        width: 0.2rem;
                        text-align: right;
                        right: 0;
                        font-size: 0.28rem;
                        color: rgb(182,182,182);
                    }
                    &:first-child{
                        padding-left: 0
                    }
                    &:last-child{
                        padding-right: 0;
                        &:before{
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .jk-lookadd{
        padding: 0 0.3rem;
        .jk-loonaddInfo{
            font-size: 0.26rem;
            color: rgb(102,102,102);
            padding: 0.5rem 0 0.1rem 0;
        }
        .jkFlex{
            height: 0.96rem;
            line-height: 0.96rem;
            border-bottom: 1px solid rgb(242,242,242);
            .jklookaddlabel{
                width: 30%;
                font-size: 0.3rem;
                color: rgb(0,0,0);
            }
            input{
                width: 100%;
                height: 0.86rem;
                text-align: right;
                border: none;
                font-size: 0.28rem;
                color: rgb(102,102,102);
            }
            select{ 
                -webkit-appearance: none; 
                text-align: center;
                border: none;
                height: 0.92rem;
                background: rgb(255, 255, 255);
            }
        }

    }
}
/* 约看信息 end*/



/* 发布 start*/
.jk-publish{
    .jk-fk{
        padding: 0.4rem 0 0.3rem 0.6rem;
        font-size: 0.24rem;
        color: rgb(153, 153, 153);
    }
    .h80{
        height: 0.8rem !important;
    }
    .jk-publish-item{
        display: flex;
        padding: 0 0.4rem;
        align-items: center;
        height: 1.38rem;
        border-bottom:1px solid rgb(247,247,247);
        position: relative;
        .ft32{
            font-size: 0.32rem;
            a,p{
                font-size: 0.32rem !important;
            }
        }
        .jk-publish-itemImg{
            img{
                width: 0.79rem;
            }
        }
        .w45{
            img{
                width: 0.45rem;
            }
        }
        .w51{
            img{
                width: 0.51rem;
            }
        }
        .auLink{
            color: rgb(44, 106, 219);
        }
        .jk-publish-itemType{
            width: 100%;
            padding: 0 0.2rem;
            flex: 1;
            .publishtit{
                font-size: 0.28rem;
                color: rgb(30, 30, 30);
                padding-bottom: 0.1rem;
            }
            .publishcon{
                font-size: 0.24rem;
                color: rgb(153, 153, 153);
            }
        }
        .jk-publish-itemRight{
            img{
                width: 0.19rem;
                height: 0.32rem;
            }
        }
    }
}
/* 发布 start*/


/* CHECKBOXES start*/
.jk-checkBoxSkin{
    height: 0.76rem;
    float: right;
    flex: 1rem;
    max-width: 1rem;
    position: relative;
   .jk-checkbox { 
       display: none; 
   }
   .trigger{
       cursor: pointer;
       position: relative;
       left: 0;
       top: 50%;
       float: left;
       width: 0.5rem;
       height: 0.26rem;
       margin-top: -0.13rem;
       background:rgb(153, 153, 153);
       border-radius: 0.13rem;
       overflow: hidden;
       //transform: background .15s linear;
   }
   .jk-checkbox:checked + .trigger { 
       background: rgb(228,80, 0); 
   }
   .trigger:before {
       content: '';
       position: absolute;
       top: 0; 
       left: 0; 
       bottom: 0;
       width: 0.24rem; 
       height: 0.22rem;
       margin: auto 2px;
       background: rgb(255, 255, 255);
       transition: left .15s linear;
       border-radius: 0.13rem;
   }
   .jk-checkbox:checked + .trigger:before { 
       left: 0.22rem; 
   }

   .jk-checkbox-checkVal1,.jk-checkbox-checkVal2{
        // display: none;
        font-size: 0.18rem;
        position: absolute;
        height: 0.76rem;
        line-height: 0.76rem;
        top: 0;
        width: 0.5rem;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .jk-checkbox-checkVal1{
        left: 0;
        display: none;
    }
    .jk-checkbox-checkVal2{
        right: 0;
    }
    
    
}
.jk-checkBoxVal{
    margin-left: 0.2rem;
    max-width: 0.77rem;
    .trigger{
        width: 0.77rem;
        background: rgb(228,80, 0); 
    }
    .jk-checkbox:checked + .trigger:before { 
        left: 0.46rem; 
    }
    .jk-checkbox:checked ~.jk-checkbox-checkVal1{ 
        display: block;
    }
    .jk-checkbox:checked ~.jk-checkbox-checkVal2{ 
        display: none;
    }
}
/* CHECKBOXES  end*/


/* 发布--整租  start*/
.jk-rent{
    padding-bottom: 2rem;
    // 上传
    .jk-rent-bannerDefault{
        height: 5.62rem;
        position: relative;
        text-align: center;
        img{
            max-width: 100%;
            max-height: 5.62rem;
        }
        .jk-rent-photo{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background:rgba(0,0,0,0.6);
            .jk-rent-photoBtn{
                background: url("../assets/icon-photo.png") center no-repeat;
                background-size: 2.06rem 2.06rem;
                height: 2.06rem;
                width: 2.06rem;
                position: absolute;
                left: 50%;
                top:50%;
                margin: -1.03rem 0 0 -1.03rem;
                input{
                    height: 2.06rem;
                    width: 2.06rem;
                    position: absolute;
                    z-index: 100;
                    opacity: 0;
                    left: 0;
                }
            }
        }
    }


    // group info
    .jk-groupTit{
        font-size: 0.36rem;
        color: rgb(0,0,0);
        padding: 0.4rem 0.3rem 0.3rem 0.3rem;
        span{
            font-size: 0.24rem;
        }
    }

}
.jk-group{
    display: flex;
    align-items: center;
    height: 0.76rem;
    margin: 0 0.3rem;
    border-bottom: 1px solid rgb(242,242,242);
    .jk-group-tit{
        height: 100%;
        font-size: 0.28rem;
        color: rgb(0,0,0);
        text-align: left;
        line-height: 0.76rem;
    }
    .jk-group-inputInfo{
        flex: 1;
        height: 100%;
        font-size: 0.28rem;
        color: rgb(153, 153, 153);
        .jk-group-input,.jk-group-select{
            width: 100%;
            height: 100%;
            font-size: 0.28rem;
            border: none;
            color: rgb(153, 153, 153);
            text-align: right;
        }
        .jk-group-p{
            font-size: 0.28rem;
            color: rgb(153, 153, 153);
            line-height: 0.76rem;
        }
        .jk-group-select{
            float: right;
            direction: rtl;
            background: none;
            color: rgb(153, 153, 153);
        }
    }
    .jkInfotr{
        color: rgb(51,51,51);
        text-align: right;
        line-height: 0.76rem;
    }
}
/* 发布--整租  end*/

/* 发布--第二步 start*/
.jk-rent2{
    padding: 0 0.3rem 2rem 0.3rem;
    .jk-rent2Tit{
        font-size: 0.36rem;
        color: rgb(0,0,0);
        margin: 0.5rem 0 0.3rem 0;
    }
    .jk-ca-tag{
        background: rgb(255, 255, 255);
        border: 1px solid rgb(246,246,246);
        color: rgb(153,153,153);
        width: auto;
        min-width: auto;
        font-size: 0.24rem;
        height: 0.4rem;
        line-height: 0.4rem;
        border-radius: 0.05rem;
    }
    .tag-hover{
        background: rgb(44,106,219);
        color: rgb(255,255,255);
        font-size: 0.24rem;
        height: 0.4rem;
        line-height: 0.4rem;
    }
}
/* 发布--第二步 end*/


// 完成发布
.jk-infoPage{
    padding: 0 0.3rem 2rem 0.3rem;
    .jk-infoPageIcon{
        text-align: center;
        margin: 1.36rem 0 0.5rem 0;
        .icon-error{
            max-width: 1.12rem;
            max-height: 1.32rem;
        }
        .icon-success{
            max-width: 1.2rem;
            max-height: 1.2rem;
        }
    }
    .jk-infoPageTit{
        text-align: center;
        font-size: 0.36rem;
        color: rgb(0,0,0);
        font-weight: bold;
    }
    .jk-infoPageDesc{
        margin: 0.3rem 0 0 0;
        text-align: center;
        font-size: 0.24rem;
        color: rgb(0,0,0);
        line-height: 0.8rem;
        p{
            line-height: 0.4rem;
        }
        a{
            color: rgb(0,0,0);
        }
    }
}


// 编辑房屋图片
.jk-editImg{
    
    .jk-editImg-bigBox{
        padding: 0 0.3rem 0 0.3rem;
    }
    .jk-editImg-big{
        margin: 0 auto;
        text-align: right;
        position: relative;
        img{
            width: 100%;
            display: inline-block;
            vertical-align: bottom;
        }
    }
    .jk-editImg-p{
        padding: 0 0.3rem;
        position: absolute;
        bottom:0;
        height: 0.4rem;
        line-height: 0.4rem;
        width: 100%;
        left: 0;
        background: rgba(0,0,0,0.3);
        z-index: 20;
        font-size: 0.24rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .del{
        position: absolute;
        right: 0.1rem;
        top:0.1rem;
        background: url("../assets/icon-close.png") no-repeat;
        background-size: 0.2rem 0.2rem;
        z-index: 2;
        display: inline-block;
        height: 0.2rem;
        width: 0.2rem;
    }
    .jk-editImg-small{
        padding: 0 0.3rem 0 0.1rem;
        margin: 0.2rem 0 0 0 !important;
        .jk-tag-4{
            padding: 0 0 0 0.2rem;
        }
        .jk-editImg-smallItem{
            height: 100%;
            background: rgb(244,244,244);
            
            position: relative;
            img{
                max-width: 100%;
                display: inline-block;
                float: left;
            }
            .jk-rent-photoBtn{
                background: url("../assets/icon-add.png") center no-repeat;
                background-size: 0.48rem 0.48rem;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top:0;
                input{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    opacity: 0;
                }
            }
        }
        
    }
}


// 个人中心
.jk-my{
    padding-bottom: 1.9rem;
    .jk-avatar{
        position: relative;
        padding: 0.9rem 0 0.4rem 0;
        .jk-change-my{
            position: absolute;
            right: 0;
            top: 0.5rem;
            display: inline-block;
            width: 1.36rem;
            height: 0.4rem;
            line-height: 0.4rem;
            font-size: 0.22rem;
            text-align: center;
            color: rgb(255, 255, 255);
            background: rgb(44, 106, 219);
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }
        .jk-avatar-img{
            margin: 0 auto 0.2rem auto;
            width: 1.8rem;
            height: 1.8rem;
            border-radius: 50%;
            box-shadow:rgba(0, 0, 0,0.3) 0px 0px 0.2rem inset;
            img{
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
            
        }
        .jk-userName{
            font-size: 0.3rem;
            color: rgb(51,51,51);
            text-align: center;
        }
        .jk-userEdit{
            text-align: center;
            .jk-userEdit-link{
                font-size: 0.18rem;
                display: inline-block;
                color: rgb(102,102,102);
                position: relative;
                padding-right: 0.2rem;
                height: 0.2.6rem;
                line-height: 0.26rem;
                &:after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 0.14rem;
                    height: 100%;
                    background: url("../assets/icon-edit.png") no-repeat center;
                    background-size: 0.13rem 0.14rem;
                }
            }
        }
    }
    
    .jk-info-link{
        ul{
            li{
                height: 1.2rem;
                line-height: 1.2rem;
                border-top: 1px solid rgb(242,242,242);
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 0.28rem;
                    color: rgb(51,51,51);
                    padding: 0 0.3rem 0 1.1rem;
                }
                
                &.jk-info-linkItem{
                    background-size: 0.3rem 0.3rem;
                    .item1{
                        background: url("../assets/icon-userlink1.png") no-repeat 0.3rem center;
                    }
                    .item2{
                        background: url("../assets/icon-userLink2.png") no-repeat 0.3rem center;
                    }
                    .item3{
                        background: url("../assets/icon-userLink3.png") no-repeat 0.3rem center;
                    }
                    .item4{
                        background: url("../assets/icon-userLink4.png") no-repeat 0.3rem center;
                    }
                    .item5{
                        background: url("../assets/icon-userLink5.png") no-repeat 0.3rem center;
                    }
                    .item6{
                        background: url("../assets/icon-userLink6.png") no-repeat 0.3rem center;
                    }
                }
                &.logout{
                    padding: 0;
                    a{
                        padding: 0;
                        color: rgb(153, 153, 153);
                        text-align: center;
                    }
                }
            }
        }
    }
}


// 暂无信息空页面
.jk-null{
    padding: 4.5rem 0.3rem 0 0.3rem;
    background: url("../assets/null.png") no-repeat center 2.42rem;
    background-size: 1.92rem;
    .jk-null-tit{
        font-size: 0.36rem;
        color: rgb(51,51,51);
        text-align: center;
        font-weight: bold;
    }
    .jk-null-desc{
        padding: 0.1rem 0 0 0;
        font-size: 0.2rem;
        color: rgb(153, 153, 153);
        text-align: center;
    }
    .jk-null-btn{
        text-align: center;
        margin: 0.4rem 0;
        .jkNlink{
            display: inline-block;
            width: 2.46rem;
            height: 0.62rem;
            line-height: 0.62rem;
            border:1px solid rgb(153,153,153);
            border-radius: 0.05rem;
            text-align: center;
            font-size: 0.28rem;
            color: rgb(51,51,51);
        }
    }
}
.jk-null-nopadding{
    padding: 3.5rem 0.3rem 0 0.3rem;
    background: url("../assets/null.png") no-repeat center 1rem;
    background-size: 1.92rem 3.14rem;
}


// 意见反馈
.jk-suggestions{
    padding: 0.3rem;
    .jk-sTit{
        font-size: 0.28rem;
        color: rgb(51,51,51);
        margin: 0 0 0.3rem 0;
        span{
            float:right;
            color: rgb(153, 153, 153);
        }
    }
   .jk-sText{
       height: 3rem;
       margin: 0 0 0.3rem 0;
   }

   .tag-parent{
       margin: 0 !important;
       flex: auto;
   }
   .jk-sAdd-img{
        margin: 0.2rem 0 0 0.2rem !important;
        .jkFlexItem{
            float: left;
            margin:0 0.3rem 0 0;
        }
        .jk-sAdd-imgItem{
            height: 2rem;
            width: 2rem;
            margin-bottom: 0.2rem;
            border:1px solid rgb(229, 229, 229);
            position: relative;
            border-radius: 0.05rem;
            img{
                width: 100%;
                display: inline-block;
                float: left;
                border-radius: 0.05rem;
            }
            .jk-rent-photoBtn{
                background: url("../assets/add.png") center no-repeat;
                background-size: 0.84rem 0.84rem;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top:0;
                input{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    opacity: 0;
                }
            }
        }
        
    }
}



// 用户详细资料
.jk-information{
    padding-bottom: 1.6rem;
    .jk-inf-avatar{
        padding: 0.3rem;
        height: 3.6rem;
        position: relative;
        .jk-inf-avatarBtn{
            background: url("../assets/addAvatarPhoto.png") center no-repeat;
            background-size: 1.31rem 0.99rem;
            height: 3rem;
            width: 3rem;
            position: absolute;
            left: 50%;
            top:50%;
            margin: -1.5rem 0 0 -1.5rem;
            border: 1px dashed rgb(153, 153, 153);
            input{
                height: 100%;
                width: 100%;
                position: absolute;
                z-index: 100;
                opacity: 0;
                left: 0;
            }
        }
    }
    .jk-inf-avatarImg{
        height: 3rem;
        width: 3rem;
        margin: 0 auto;
        img{
            width: 3rem;
            height: 3rem;
        }
    }

    .jk-userinforText{
        padding: 0 0.3rem;
        textarea{
            text-indent: 0;
        }
    }

    .jkScreen{
        z-index: 999;
        padding-right: 0;
        padding-left: 0.3rem;
        .jkScreenItem{
            display: block;
        }
        .jkScreen-pag{
            margin: 0 0.3rem 0 0;
            height: 0.9rem;
            line-height: 0.9rem;
            border-bottom: 1px solid rgb(214,214,214);
            span{
                padding-right: 0.2rem;
            }
        }
    }
}

// 认证
.jk-authen{
    .tit1{
        font-size: 0.24rem;
        color: rgb(153, 153, 153);
        padding: 0.4rem 0.3rem;
    }
    .jk-group{
        padding: 0 0.3rem;
        margin: 0;
    }
    .jkInfotl{
        color: rgb(51,51,51);
        text-align: left;
        line-height: 0.76rem;
        a{
            color: rgb(228,80,0);
        }
    }
}




//上拉加载

.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*修改选择时间的样式*/
.mint-datetime-picker .mint-datetime-action{
    font-size: 14px!important;
    text-align: justify!important;
    font-weight: normal!important;
}
.mint-datetime-picker .mint-datetime-confirm{
    color:rgb(94,144,243)!important;
    text-align: right!important;
    padding:0 12px;
    // overflow:hidden;width:50px;height:44px;line-height:44px;float:left;font-size:10px;;
}
.mint-datetime-cancel{
    color:rgb(153,153,153);
    padding:0 12px;
}
.picker-item{
    font-size: 14px;
    color: #b2b2b2;
    height: 36px;
    line-height: 36px;
    font-weight: normal;
}
.picker-items .picker-slot{
    width: 100%;
}
.mint-checklist .mint-cell{
    width: 50%;
    display: inline-block;
    height: 0.55rem;
    line-height: 0.55rem;
    min-height: 0.55rem;
    font-size: 0.28rem;
    color: rgb(30, 30, 30);
    font-weight: normal;
    .mint-cell-wrapper{
        font-size: 0.26rem;
    }
    .mint-checkbox-core{
        width: 0.3rem;
        height: 0.3rem;
    }
}
.img-responsive{
    height: 5.62rem;
    width: 7.5rem;
    img{
        height: 5.62rem;
        width: 7.5rem;
    }
}